
:root{
  --buttonWidth:80px;
  --buttonHeigh:40px;
  --buttonPadding:4px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: var(--buttonWidth);
	height: var(--buttonHeigh);
  /* primary color here */
	background: linear-gradient(var(--gradientColor1), var(--gradientColor2));
	display: block;
	border-radius: var(--buttonHeigh);
	position: relative;
  margin:0 20px 0 calc(20px - .5em);
}

label:after {
	content:"";
	position: absolute;  
	top: var(--buttonPadding);
	left: var(--buttonPadding);
	width: calc(var(--buttonHeigh) - 2 * var(--buttonPadding));
	height: calc(var(--buttonHeigh) - 2 * var(--buttonPadding));
  /* clickable sphere color here */
	background: #fff;
	border-radius: calc(var(--buttonHeigh) - 2 * var(--buttonPadding));
	transition: 0.3s;
}

input:checked + label {
  /* secondary color here */
	background: linear-gradient(var(--gradientColor1), var(--gradientColor2));
}

input:checked + label:after {
	left: calc(100% - var(--buttonPadding));
	transform: translateX(-100%);
}

label:active:after {
	width: 60%;
}